<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13C64</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fluidplugin</string>
				<string>fluidPlugin</string>
				<string>fluidPlugIn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>FluidPlugIn.icns</string>
			<key>CFBundleTypeName</key>
			<string>Fluid Plug-in</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<string>1</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fluidlicense</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>FluidLicense.icns</string>
			<key>CFBundleTypeName</key>
			<string>Fluid License</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Fluid</string>
	<key>CFBundleIconFile</key>
	<string>fluid</string>
	<key>CFBundleIdentifier</key>
	<string>com.fluidapp.Fluid</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Fluid</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.fluidapp.Fluid</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>160</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5B130a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12F37</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0510</string>
	<key>DTXcodeBuild</key>
	<string>5B130a</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>x86_64</string>
		<string>i386</string>
		<string>ppc</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>i386</key>
		<string>10.6.0</string>
		<key>x86_64</key>
		<string>10.6.0</string>
	</dict>
	<key>NSMainNibFile</key>
	<string>FluidMainMenu-IndieStore</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://fluidapp.com/appcast/fluid1.rss</string>
	<key>SUPublicDSAKeyFile</key>
	<string>fluid_dsa_pub.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Fluid Plug-in</string>
			<key>UTTypeIconFile</key>
			<string>FluidPlugIn.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.plugin</string>
			<key>UTTypeReferenceURL</key>
			<string>http://fliuidapp.com/plugin/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>FluidPlugIn</string>
				<key>public.filename-extension</key>
				<array>
					<string>fluidplugin</string>
					<string>fluidPlugin</string>
					<string>fluidPlugIn</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-fluid-plugin</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
